{% extends 'base.html' %}

{% block content %}
<div class="row">
  <a href="/" class="btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">arrow_back</i></a>
</div>
<div class="row">
  <h4 style="margin-top: 0;">Keywords procesed</h4>
  <div class="col s12 m6">
    {% for keyword in data.keywords %}
    <div class="chip">
      {{keyword}}
    </div>
    {% endfor %}
  </div>
  <div class="col s12 m6">
    <div id="container" style="width: 75%;">
      <canvas id="pie-chart"></canvas>
    </div>
  </div>
</div>

<h6>Tweets found: <b>{{ data.size }}</b></h6>
<div class="row">
  {% if data.tweets %}
    <table>
      <colgroup>
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
     </colgroup>
      <thead>
        <tr>
            <th>Date</th>
            <th>Tweet</th>
            <th>Tweet cleaned</th>
            <th>Evaluation</th>
        </tr>
      </thead>

      <tbody>
        {% for tweet in data.tweets %}
        <tr>
          <td>{{tweet.0.date}}</td>
          <td>{{tweet.0.text}}</td>
          <td>{{tweet.1}}</td>
        <td class="center"><div class="chip" style="background-color: {{tweet.3}}"><b style="color: white;text-shadow: 1px 1px #000;">{{tweet.2}}</b></div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <h3>Results not found</h3>
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ data.values|safe }},
        label: 'Dataset',
        backgroundColor: {{data.fill_color|safe}}
      }],
      labels: {{ data.labels|safe }},
    },
    options: {
      responsive: true
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };

</script>

{% endblock %}
