{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    {% if data.errors %}
    {% for error in data.errors %}
    <div class="card-panel red darken-1">
        <span class="white-text">
          {{error}}
        </span>
      </div>
      {% endfor %}
    {% endif %}

    <form action="/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="file-field input-field">
        <div class="btn">
          <span>File with keywords</span>
          <input name="keywords" type="file" accept=".txt">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="center">
        <button type="submit" class="waves-effect waves-light btn green">
          PROCESS
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
